* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    gap: 21px;
    flex-direction: column;
}

.main-title {
    padding: 8px 0px;
}
.main-subtitle {
    color: #8e8e8e;
    padding: 8px 0;
}
.container {
    height: fit-content;
    padding: 16px;
    border: 1px solid #a2a2a2;
    border-radius: 10px;
}

.form-title {
    font-size: 16px;
    color: #666666;
}
.div-input {
    position: relative;
}

.div-input img{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
}

.div-input input{
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #F3F3F5;
    padding: 15px 25px;
}
.tamanho-total {
    width: 100%;
}
.div-input-period {
    width: 100%;
}
.div-input-period input {
    width: 100%;
}
.div-inv-period {
    display: flex;
    gap: 4px;
}
.InvPeriod select {
    background-color: #F3F3F5;
    border: none;
}
.anualRet {
    display: flex;
    align-items: center;
    gap: 4px;
}
.anualRet input[type="range"] {
    accent-color: #030213;
    width: 84%;
}
.anualRet input[type="number"] {
    width: 16%;
    padding: 5px;
    background-color: #F3F3F5;
    border: none;
    border-radius: 5px;
}
.content {
    min-width: 0;
}

.summary {
    text-align: center;
    border:  1px solid #a2a2a2;
    border-radius: 10px;
    padding: 20px;
}

.summary h2 {
    font-size: 16px;
    color: #666666;
}
.summary p {
    color: #8e8e8e;
}
.cards {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
}
.card {
    display: flex;
    gap: 16px;
    border: 1px solid #a2a2a2;
    border-radius: 10px;
    padding: 16px;
}

.card-content {
    text-align: start;
}

.card-content h3 {
    color: #8e8e8e;
    font-size: 16px;
}
.card p {
    color: #282828;
    font-size: 20px;
    font-weight: 700;
}
.card img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}


.finalValue img {
    background-color: #EFF6FF;
}

.totalContr img {
    background-color: #F0FDF4;
}

.totalReturns img {
    background-color: #FAF5FF;
}
.ReturnsInvestiments img {
    background-color: #FFF7ED;
}

.warning {
    margin-top: 16px;
    background-color: #F0FDF4;
    padding: 16px;
    border: 1px solid #b7cfbd;
    border-radius: 10px;
}
.warning p {
    color: #086731;
}
.emphasis {
    font-weight: bold;
}
.disclaimer {
    background-color: #ECECF0;
    height: fit-content;
    padding: 16px;
    border-radius: 10px;
}

.chart {
    width: 100%;
    height: 400px;
}

#chart_div {
    width: 100%;
    border: 1px solid #8e8e8e;
    border-radius: 8px;

    margin-bottom: 16px;
    padding: 16px;
    height: fit-content;
    overflow-x: scroll;
}

@media only screen and (min-width: 600px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 992px) {
    main {
        display: grid;
        grid-template-columns: minmax(250px, 1fr) 2fr;
        grid-template-rows: auto 1fr 1fr auto;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .title {
        grid-column: 1 / 3;
        text-align: center;
    }
    .disclaimer {
        grid-column: 1 / 3;
    }
}